*{
    margin: 0;
    padding: 0;
}
body{
    margin: 0%;
    padding: 0%;
}
.container{
    margin: -3px;
    padding: 5px;
    border-style: outset;
    background-color: rgb(28, 53, 109);
}

nav ul{
    padding-top: 2px;
    list-style: none;
    display: flex;
    justify-content: right;
    padding-left: 440px;
}
nav ul li{
    margin-right: 5px;
    display: inline-block;
    position: relative;
}
nav ul li a{
display: block;
padding: 20px 25px;
color: rgb(255, 255, 255);
text-decoration: none;
text-align: center;
font-size: 20px;
}

nav ul li a:hover {
    background-color: rgb(166, 192, 214);
}

nav ul li ul.dropdown li{
    display: block;
}
nav ul li ul.dropdown {
    width: 100%;
    background:rgb(28, 53, 109);
    position: fixed;
    right: 0px;
    top: 70px;
    border-style:double;
    display: none;
    z-index: 999;
}
nav ul li:hover ul.dropdown{
    display: block;
}
.logo{ 
    float:left;
    max-width: 90px;
    padding: -1px 5px;
}

.img-container{
    margin: 0px 90px;
    background-image: url("Kalayaan2.jpg");
    background-repeat: no-repeat;
    background-size:100% 151%;
    background-color: rgb(128, 128, 243);
}
.attachment-full{
    max-width: 800px;
    margin: 100px 350px;
}
#agency-name{
        font-size: 1.2rem;
        margin-top: -10px;
        text-transform: none;
        padding-top: 2px;
        line-height: 1;
        margin-bottom: 60px;
}
#agency-tagline {
    display: block;
    position: relative;
    font-size: 1.5rem;
    margin-top: 6px;
    margin-bottom: 6px;
    text-transform: none;
}
#textlogo{
    margin: 0px 0 0 5px;
}
.element-container{
    display: flex;
    margin-left: auto;
    margin-right: auto;
    position: relative;
}
.space{
    padding: 10px;
}

footer{
    background-color: rgb(28, 53, 109);
    margin-top: 10px;
    font-size: 15px;
    text-align: center;
    color: white;
}
.element-column{
    display: flex;
}
#column-1{
    border: solid;
    text-align: center;
    padding-top: 25px;
    font-size: 30px;
    flex: 1;
    height: 65px;
    background-color: rgb(110, 69, 69);
    color: white;
}
#column-2{
    border: solid;
    text-align: center;
    padding-top: 25px;
    font-size: 30px;
    flex: 1;
    height: 65px;
    background-color: rgb(110, 69, 69);
    color: white;
}
.element-container{
    display: flex;
}
.column-1{
    padding-top: 70px;
    text-align: center;
    font-size: 30px;
    flex: 1;
    height: 500px;
}
.column-2{
    padding-top: 70px;
    font-size: 30px;
    text-align: center;
    flex: 1;
    height: 500px;
}
.element-span{
    color: rgb(255, 0, 0);
}

